<footer>
    <div class="container">
        <div class="row">
                <div class="col-4">
                    <h4>¡Mi perfíl de LinkedIn!</h4> <br>
                    <a href="https://www.linkedin.com/in/jfranciscodrube/" target="blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a> 
                </div>
  
                <div class="col-4">
                    <h4>¡Seguíme en insta para clases de yoga y meditación!</h4>
                        <a href="https://www.instagram.com/franciscodrube/" target="blank">
                            <i class="fa-brands fa-instagram-square"></i>
                        </a>
                </div>
  
                <div class="col-4">
                            <h4>"¿Cómo es que tenemos tanta información, pero sabemos tan poco?”</h4><br>
                            <p>Noam Chomsky</p>
                </div>
        </div>
    </div>
  
    <div class="barra-footer">
                © Derechos Reservados 2022
    </div>
  
  </footer>