<section id="contacto" class="container seccion">   
    <div class="container">

        <div class="bloque-contacto">
            <h3>UBICACIÓN</h3>
            <ul>
                <li> Independencia 916 1 B </li>
                <li>Córdoba</li>
                <li>C.P. 5000</li>
                <li>Argentina</li>
            </ul>

            <h3>DATOS DE CONTACTO</h3>
            <ul>
                <li> franciscodrube@gmail.com </li>
                <li>+549 351 6334199</li>
            </ul>
        </div>

            <div class="bloque-contacto">
                <h3>FORMULARIO DE CONTACTO</h3>
                <div class="m-3">
                    <input type="text" class="form-control" id="form-nombre" placeholder="Nombre y apellido..." >
                </div>

                <div class="m-3">
                    <input type="email" class="form-contro1" id="form-mail" placeholder=" e-mail...">
                </div>

                <div class="m-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Mensaje..."></textarea>
                </div>

                <div class="m-3">
                    <input type="submit" class="enviar-btn" value="Enviar consulta">
                </div>
            </div>
    </div>


    <div class="imagen-fondo">
        <img src="/img/elipse.png" alt="">
    </div>
        
</section>