<section id="contacto" class="seccion">   
    <div class="container-contacto">
            <div class="bloque-contacto">
                <h3>FORMULARIO DE CONTACTO</h3>
                <div class="m-3">
                    <input type="text" class="form-control" id="form-nombre" placeholder="Nombre y apellido..." >
                </div>

                <div class="m-3">
                    <input type="email" class="form-control" id="form-mail" placeholder=" e-mail...">
                </div>

                <div class="m-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Mensaje..."></textarea>
                </div>

                <div class="m-3">
                    <input type="submit" class="enviar-btn" value="Enviar">
                </div>
            </div>
            <div class="bloque-contacto">
                <h3>UBICACIÓN</h3>
                <iframe frameborder="0"  width="150px" height="100" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=300&amp;height=200&amp;hl=en&amp;q=%20+(C%C3%B3rdoba)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                
                
                <h3>DATOS DE CONTACTO</h3>
                <ul>
                    <li> franciscodrube@gmail.com </li>
                    <li>+549 351 6334199</li>
                </ul>
            </div>
    </div>
    <div class="imagen-fondo">
        <img src="/img/elipse.png" alt="">
    </div>
        
</section>