.container-contacto{
    width: 90%;
    margin: 1rem auto;
    border-radius: 1.25rem;
    box-shadow: 4px 4px 30px #757575;
    backdrop-filter: blur(3rem);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    justify-content: center;
}

.bloque-contacto h3{
    font-size: 1rem;
    margin: 1rem;
}

.form-control{
    border-color: #1D84A9;
    border-width: 2px;
    border-style: solid;
    width: 80%;
}

.enviar-btn{
    padding: .325rem;
    width: 40%;
    min-width: 3rem;
    font-weight: 600;
    color: #fff;
    background-color: #0E6A8B;
}

.imagen-fondo {
    width: 30%;
    position: absolute;
    right:0;
    bottom: 0;
    padding:0;
    z-index: -1;
}