<section id="portfolio" class="container seccion">
    <div class="nav">
        <a href="#portfolio" class="link-portfolio"> 
            <img src="/img/Proyecto X.png" alt="">
            <h2>Proyecto X</h2>
         </a>
         <a href="#portfolio" class="link-portfolio"> 
            <img src="/img/Proyecto y.png" alt="">
            <h2>Proyecto Y</h2>
         </a>
         <a href="#portfolio" class="link-portfolio"> 
            <img src="/img/Proyecto z.png" alt="">
            <h2>Proyecto Z</h2>
         </a>
    </div>
</section>