<section id="portfolio" class="seccion">
   <div class="cont-portfolio">
       <div class="cont-portfolio-item">
           <a href="#portfolio" class="link-portfolio"> 
               <img src="/img/Proyecto X.png" alt="">
           <h3>Proyecto X</h3>
           </a>
       </div>

       <div class="cont-portfolio-item">
           <a href="#portfolio" class="link-portfolio"> 
               <img src="/img/Proyecto y.png" alt="">
           <h3>Proyecto Y</h3>
           </a>
       </div>

       <div class="cont-portfolio-item">
           <a href="#portfolio" class="link-portfolio"> 
               <img src="/img/Proyecto z.png" alt="">
           <h3>Proyecto Z</h3>
           </a>
       </div>
   </div>
</section> 