<section id="home" class="container seccion">  
    <img src="/img/tarjeta.png" alt="" class="img-tarjeta">
    <div class="bloque-banner-contenido">
        <h2>Skills</h2>
        <ul>
            <li><img src="img/skills/html5.png" alt=""></li>
            <li><img src="img/skills/css.png" alt=""></li>
            <li><img src="img/skills/angular.png" alt=""></li>
            <li><img src="img/skills/vsc.png" alt=""></li>
            <li><img src="img/skills/figma.png" alt=""></li>
        </ul>   
        <h2>Acerca de mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatem, adipisci eum optio minima sapiente consequuntur quasi sunt autem tenetur deserunt obcaecati laboriosam consequatur commodi. Ea nam iste eligendi dolorum.</p>
    </div>     
        <img src="/img/foto y fondo.png" alt="" class="img-fondo-home">
</section>