   <section id="home" class="seccion">  
     
        <div class="bloque-banner-contenido">
            <h2>Skills</h2>
            <ul>
                <li><i class="fa-brands fa-html5"></i></li>
                <li><i class="fa-brands fa-css3"></i></li>
                <li><i class="fa-brands fa-js-square"></i></li>
                <li><i class="fa-brands fa-angular"></i></li>
                <li><i class="fa-brands fa-figma"></i></li>
            </ul>   
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatem, adipisci eum optio minima sapiente consequuntur quasi sunt autem tenetur deserunt obcaecati laboriosam consequatur commodi. Ea nam iste eligendi dolorum.</p>
        </div>     
            <img src="../../../assets/imgs/foto y fondo.png" alt="" class="img-fondo-home">
    </section>