<section id="educacion" class="container seccion">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12" id="edu-argprog">
                    <img src="img/logo AP.png" cls alt="">
                    <h3>Ministerio de Desarrollo tecnológico</h3>
                    <h2>ARGENTINA PROGRAMA</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea obcaecati debitis earum Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque.</p>
                </div>
                <div class="col-12" id="edu-ingbio">
                    <img src="img/LOGO UNC.jpeg" cls alt="">
                    <h3>Universidad Nacional de Córdoba</h3>
                    <h2>INGENIERÍA BIOMÉDICO</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea obcaecati debitis earum Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque.</p>
                </div>
            </div>
            
        </div>
        <div class="col-6">
            <h2>OTROS ESTUDIOS</h2>
            <h4>EXPERIENCIA</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi harum doloribus deleniti magnam facere libero illum quos autem delectus!</p>
            <h4>EXPERIENCIA</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi harum doloribus deleniti magnam facere libero illum quos autem delectus!</p>
            <h4>EXPERIENCIA</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi harum doloribus deleniti magnam facere libero illum quos autem delectus!</p>
        </div>
    </div>
    <div class="row">
        <div class="nav-cv">
            <a href="#">Ver CV completo en Español</a>
            <a href="#">Ver CV completo en Inglés</a>
        </div>
    </div>

</section>