<div class="container ">
    <div class="container"> 
        <h3 class="m-3">Experiencia</h3>
    </div>
    <ul>
        <!-- recorremos con la directiva ngFor el arreglo "experience" del archivo json "data" para traer todos los elementos -->
        <li *ngFor="let experience of experienciaData">
            <div class="card h-100 bg-ligth" >
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <img src="https://loremflickr.com/60/60" class="rounded-circle border border-3 border-info" alt="">
                    <div class="ps-3">
                        <h6 class="m-0 h6 badge text-bg-info">{{experience.position}}</h6>
                        <p class="mb-1 fs-6">{{experience.company}}</p>
                        <p class="h6">{{experience.start}} - {{experience.end}}
                        </p>

                    </div>
                </div>
                <div>
                    <p class="fs-6 lh-1">{{experience.description}}</p>
                </div>        
                </div>
        </div>
        </li>
    </ul>
</div>