<section id="skills" class="seccion">
    <div class="skills-grid">
<!-- FILA DE LOS HARD SKILLS -->
        <div class="card skills-cards" >
            <h1>Hard Skills</h1>         
            <i class="fa-solid fa-code"></i>
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>

        <div class="card" id="logo-html">
            <i  class="fa-brands fa-html5"></i>
            <h3>HTML5</h3>         
        </div>

        <div class="card" id="logo-css3">
            <i class="fa-brands fa-css3"></i>
            <h3>CSS3</h3>         
        </div>

        <div class="card" id="logo-figma">
            <i class="fa-brands fa-figma"></i>
            <h3>FIGMA</h3>         
        </div>

        <div class="card" id="logo-angular">
            <i class="fa-brands fa-angular"></i>
            <h3>ANGULAR</h3>         
        </div>

        <div class="card" id="logo-js">
            <i class="fa-brands fa-js-square"></i>
            <h3>JS</h3>         
        </div>

        <!-- FILA DE LOS SOFT SKILLS -->

        <div class="card skills-cards" >
            <h1>Soft Skills</h1>         
            <i class="fa-solid fa-face-smile-wink"></i>
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>

        <div class="card" id="logo-html">
            <i  class="fa-brands fa-html5"></i>
            <h3>Lorem</h3>         
        </div>

        <div class="card" id="logo-css3">
            <i class="fa-brands fa-css3"></i>
            <h3>Lorem</h3>         
        </div>

        <div class="card" id="logo-figma">
            <i class="fa-brands fa-figma"></i>
            <h3>Lorem</h3>         
        </div>

        <div class="card" id="logo-angular">
            <i class="fa-brands fa-angular"></i>
            <h3>Lorem</h3>         
        </div>

        <div class="card" id="logo-js">
            <i class="fa-brands fa-js-square"></i>
            <h3>Lorem</h3>         
        </div>
    

        <!-- FILA DE LOS LANGUAGES SKILLS -->
        <div class="card skills-cards">
            <h1>Idiomas</h1>         
            <i class="fa-solid fa-globe"></i>
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>

        <div class="card" id="logo-castellano">
            <i class="fa-solid fa-earth-americas"></i>
            <h3>SP</h3>         
        </div>

        <div class="card" id="logo-ingles">
            <i class="fa-solid fa-earth-europe"></i>
            <h3>EN</h3>         
        </div>

        <div class="card" id="logo-italia">
            <i class="fa-solid fa-pizza-slice"></i>
            <h3>IT</h3>         
        </div>
    </div>
</section>