<header class="header">
    <div class="logo-ap-container">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="blank" class="logo-ap">
            <img src="img/ArgProg-bann 2.png" alt="Logo Argentina Programa">
        </a>
    </div>  
    <nav class="navbar">
        <a routerLink="/contacto">Contacto</a>
        <a routerLink="/inicio">Home</a>
        <a routerLink="/experiencia">Experiencia</a>
        <a routerLink="/educacion">Educación</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/portfolio">Portfolio</a>
    </nav>
    
    <div class="header-iconos">
        <a href="https://github.com/Franciscodrube?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i>
        </a>
    
        <a href="mailto:franciscodrube@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>
        </a>
    
        <a href="#" target="_blank">
            <i class="fa-solid fa-circle-user"></i>
        </a>
            
    </div>
  </header>