<header>
    <div class="container">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="blank">
            <img src="../../../assets/imgs/ArgProg-bann 2.png" id="logo-ap" alt="Logo Argentina Programa">
        </a>
  
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#experiencia">Experiencia</a>
            <a href="#educacion">Educación</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contacto">Contacto</a>
        </nav>
       
        <div class="header-iconos">
    
            <a href="https://github.com/Franciscodrube?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i>
            </a>
      
            <a href="mailto:franciscodrube@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>
            </a>
       
            <a href="#" target="_blank">
                <i class="fa-solid fa-circle-user"></i>
            </a>
       
        </div>

    </div>
  </header>