 <nav class="navbar container-fluid navbar-expand-md d-flex flex-nowrap justify-content-around navbar-fixed-top m-0 p-0 mx-auto">
    <div class="container-fluid">
        <div>
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="blank" >
                <img src="../../../assets/imgs/ArgProg-bann 2.png" class="logo-ap-container" alt="Logo Argentina Programa">
            </a>
        </div>

            <button class="navbar-toggler warning" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#menuheader" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="true" 
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="menuheader"> 
                <ul class="navbar-nav">
                    <li class="active nav-item">
                        <a class="nav-link active" routerLink="inicio">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="experiencia">Experiencia</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="educacion">Educación</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="skills">Skills</a>
                    <li class="nav-item">

                        <a class="nav-link" routerLink="portfolio">Portfolio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="contacto">Contacto</a>
                    </li>
                </ul>
            </div>  
        
        <div class="header-iconos">
            <a href="https://github.com/Franciscodrube?tab=repositories" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
    
            <a href="mailto:franciscodrube@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
    </div>

</nav>

<!-- </div> -->


<!-- 
<header class="header">
    <div class="logo-ap-container">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="blank" class="logo-ap">
            <img src="../../../assets/imgs/ArgProg-bann 2.png" alt="Logo Argentina Programa">
        </a>
    </div>  
    <nav class="navbar">
        <a routerLink="/inicio">Home</a>
        <a routerLink="/experiencia">Experiencia</a>
        <a routerLink="/educacion">Educación</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/portfolio">Portfolio</a>
        <a routerLink="/contacto">Contacto</a>
    </nav>
    
    <div class="header-iconos">
        <a href="https://github.com/Franciscodrube?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i>
        </a>
    
        <a href="mailto:franciscodrube@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>
        </a>
    
        <a href="#" target="_blank">
            <i class="fa-solid fa-circle-user"></i>
        </a>
            
    </div>
  </header> -->
