.logo-ap-container{
    width: 100%;
    min-width: 2rem;
}

.navbar a{
    margin: 0 0.325rem;
    color: #726B6B;
    font-weight:700;
    text-decoration: none;
    font-size: 0.7rem;
}
.header-iconos{
    display: flex;
    align-items: baseline;  
}

.header-iconos a{
    font-size: 1rem;
    color: #726B6B;
    margin: 0 .5rem;
}

.navbar-nav a:active{
    background-color: #efd81d;
    border-radius: 5px;
    color: #fff;
    margin: 0 20px;
} 
